# Секреты/конфиги (оставь ТОЛЬКО локально!)
config.py
commands.txt
subscribers.txt
subscribers.json

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Файлы сессии
*.session
*.session-journal
bot_sessions/

# Логи
*.log
*.log.*

# Виртуальные окружения (если используешь)
venv/
env/

# Логи, временные файлы
*.log
*.sqlite3

# IDE/редактор файлы (VSCode, PyCharm и т.п.)
.vscode/
.idea/

# dotenv (если когда-нибудь потребуется)
.env